#formMain {
    margin-left: 200px;
    width: 430px;
}

.btnSubmit {
    margin-left: 120px;
}

#locationMap {
    margin-left: 100px;
}

.containersContacts {
    margin-left: 330px;
}

.containersContacts a {
    border-radius: 50%;
}