/* ========== Start Header Style ========== */

.header-top {
    font-size: 13px
}

.header-user-menu {
    display: flex;
    align-items: center;
    justify-content: flex-end
}

.header-user-menu>li {
    margin-right: 40px;
    position: relative;
    list-style-type: none;
}

.header-user-menu>li:last-child {
    margin-right: 0
}

.header-user-menu>li::after {
    position: absolute;
    content: "|";
    top: 50%;
    transform: translateY(-50%);
    right: calc(0% - 20px)
}

.header-user-menu>li:last-child::after {
    display: none
}

.header-user-menu>li>a {
    display: inline-block;
    line-height: 46px
}

.has-user-dropdown {
    position: relative;
    padding-right: 15px
}

.has-user-dropdown::before {
    content: "\f13a";
    font-family: "FontAwesome";
    position: absolute;
    top: calc(50%);
    right: 0;
    transform: translateY(-50%);
    font-weight: 400
}

.has-user-dropdown:hover .user-sub-menu {
    visibility: visible;
    opacity: 1;
    transform: translateY(0)
}

.user-sub-menu {
    position: absolute;
    top: calc(100%);
    transform: translateY(30px);
    left: calc(0% - 20px);
    right: auto;
    padding: 10px 15px;
    width: 160px;
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    border-radius: 3px;
    transition: all .3s ease 0s;
    visibility: hidden;
    opacity: 0;
    z-index: 99
}

.user-sub-menu>li {
    display: block;
    border-bottom: 1px solid #eee;
    padding: 5px 0
}

.user-sub-menu>li:last-child {
    border-bottom: none
}

.user-sub-menu>li>a {
    position: relative;
    display: flex;
    align-items: center
}

.user-sub-menu>li>a:hover {
    color: #ea1c26
}

.user-sub-menu-in-icon {
    padding-right: 5px
}

/* ========== Search Bar Style ========== */

.default-search-style {
    position: relative
}

.default-search-style-input-box {
    padding: 10px 90px 10px 20px;
    border-radius: 5px;
    font-size: 13px;
    box-shadow: none;
    outline: 0
}

.default-search-style-input-btn {
    padding: 10px 25px;
    background-color: #ea1c26;
    border-radius: 0 5px 5px 0;
    font-weight: 600;
    color: #fff;
    transition: all .3s ease 0s;
    line-height: 1.6;
    position: absolute;
    top: 50%;
    right: 0;
    height: 100%;
    transform: translateY(-50%)
}

.default-search-style-input-btn:hover {
    border-color: #333;
    background: #333
}

.default-search-style-input-btn i {
    color: #fff;
    font-size: 18px
}


.header-action-icon {
    display: flex;
    justify-content: flex-end;
    margin-right: 15px
}

.header-action-icon>li {
    margin-right: 40px;
    list-style-type: none;
    
}

.header-action-icon>li:last-child {
    margin-right: 0
}

.header-action-icon>li>a {
    position: relative;
    font-size: 27px;
    color: #333
}

.header-action-icon>li>a:hover {
    color: #ea1c26
}

.header-action-icon>li>a:hover .header-action-icon-item-count {
    background: #ea1c26
}

.header-action-icon-item-count {
    position: absolute;
    top: 0;
    right: -8px;
    font-size: 10px;
    display: inline-block;
    background: #333;
    color: #fff;
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    transition: all .3s ease 0s
}
/* ====== nNavbar Filip ====== */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --bs-blue: #0D6EFD;
  --bs-indigo: #6610F2;
  --bs-purple: #6F42C1;
  --bs-pink: #D63384;
  --bs-red: #050505;
  --bs-orange: #FD7E14;
  --bs-yellow: #FFC107;
  --bs-green: #198754;
  --bs-teal: #20C997;
  --bs-cyan: #0DCAF0;
  --bs-white: #FFF;
  --bs-gray: #6C757D;
  --bs-gray-dark: #343A40;
  --bs-primary: #0D6EFD;
  --bs-secondary: #6C757D;
  --bs-success: #198754;
  --bs-info: #0DCAF0;
  --bs-warning: #FFC107;
  --bs-danger: #050505;
  --bs-light: #F8F9FA;
  --bs-dark: #343A40;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
}

/* Brat ovoj kod e za fontot ke go ostavam tuka vidi kako ti se svigja poveke taka ostavi go, mene mi e seedno */

/* body {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.75;
  position: relative;
  visibility: visible;
  color: #666;
} */

ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: #666;
  text-decoration: none;
  transition: all 0.3s ease 0s;
  outline: none;
}


input, button {
  border: none;
  outline: none !important;
  background: none;
  box-shadow: none;
}

/* Brat ova pod komentarov e kodot za da go podesis inputot kolku da bide golem, ti mi spomna deka nesto si skaal da e odvoen od lupata */

input {
  width: 100%;
}


/*Custom Border CSS*/
.border-around {
  border: 2px solid #eee;
}


/*Header Center Area*/
.header-center {
  padding: 30px 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}


/*Header Bottom Area*/
.header-bottom {
  background: #333;
  position: relative;
}

.sticky-header.sticky {
  position: fixed;
  z-index: 99;
  width: 100%;
  top: 0;
  background: #333;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  animation-name: fadeInDown;
  animation-duration: 900ms;
  animation-timing-function: cubic-bezier(0.2, 1, 0.22, 1);
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  border-bottom: 0;
}

.main-menu nav > ul > li {
  position: relative;
  display: inline-block;
}

.main-menu nav > ul > .has-megaitem {
  position: static;
}

.main-menu nav > ul > li > a {
  display: block;
  line-height: 24px;
  padding: 15px 30px;
  font-size: 16px;
  line-height: 30px;
  text-transform: capitalize;
  font-weight: 500;
  color: #FFF;
}

.main-menu nav > ul > li > a:hover, .main-menu nav > ul > li > a.active {
  background: #ea1c26;
  color: #FFF;
}

.mega-menu-sub > li > a {
  font-weight: 400;
  display: block;
  line-height: 35px;
  text-transform: capitalize;
  color: #666;
  position: relative;
  transition: all 0.3s ease 0s;
}

.mega-menu-sub > li > a::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  transform: translate(0px, -50%);
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background: #ea1c26;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease 0s;
}

.mega-menu-sub > li > a:hover {
  color: #ea1c26;
  transform: translateX(10px);
}

.mega-menu-sub > li > a:hover::after {
  transform: translate(-10px, -50%);
  visibility: visible;
  opacity: 1;
}

.mega-menu {
  position: absolute;
  min-width: 100%;
  padding: 25px 30px 30px 30px;
  background: #FFF;
  box-shadow: 0 3px 11px 0 rgba(0, 0, 0, 0.1);
  transform: perspective(600px) rotateX(-90deg);
  transform-origin: 0 0 0;
  left: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  z-index: 99;
  top: 100%;
  text-align: left;
}

/* Ova e za dropdown mozes da go zakomntiras da vidis kako bi izgledalo bez ovoj kod dole */

.mega-menu-inner {
  display: flex;
  justify-content: space-between;
}

.mega-menu-item-title {
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
  display: block;
  margin-bottom: 13px;
  color: #333;
}


.main-menu nav > ul > li:hover .sub-menu,
.main-menu nav > ul > li:hover .mega-menu {
  opacity: 1;
  visibility: visible;
  transform: perspective(600px) rotateX(0deg);
}

.mobile-header-wrapper {
  padding-top: 25px;
  padding-bottom: 25px;
}

.mobile-menu {
  border: 1px solid #000;
  padding: 5px;
  display: block;
}

.mobile-menu-dash {
  display: block;
  width: 30px;
  height: 2px;
  background: #000;
  margin-top: 5px;
  margin-bottom: 5px;
}




/* Brat kodov za burger menu mi e samo copy paste, probuvav da go sredam ama go zaebav i go vrativ kako sto e, i ne znaev sto da ostavam vo html za burger menu
a ako ne uspees da go sredis celoto ke mi kazes jas da prodolzam od kaj sto ke zastanes ti*/



/*****************************
Layout - Offcanvas
*****************************/
.offcanvas {
    z-index: 999999;
    position: fixed;
    top: 0;
    overflow: auto;
    height: 100vh;
    padding: 20px;
    transition: all 0.3s ease 0s;
    transform: translateX(100%);
    box-shadow: none;
    background: #FFF;
    width: 300px;
    overflow-x: hidden;
    visibility: visible;
  }
  @media (min-width: 576px) {
    .offcanvas {
      width: 400px;
    }
  }
  
  .offcanvas-leftside {
    left: 0%;
    transform: translateX(-100%);
  }
  
  .offcanvas-rightside {
    right: 0%;
    transform: translateX(100%);
  }
  
  .offcanvas.offcanvas-open {
    transform: translateX(0);
  }
  
  .offcanvas-overlay {
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .offcanvas-header {
    margin-bottom: 30px;
  }
  
  .offcanvas-close {
    width: 40px;
    height: 40px;
    line-height: 38px;
    text-align: center;
    border: 1px solid #666;
    border-radius: 50%;
    transition: all 0.3s ease 0s;
  }
  .offcanvas-close:hover {
    color: #ea1c26;
    border-color: #ea1c26;
  }
  
  .offcanvas-title {
    margin-bottom: 40px;
  }
  
  /*mobile-menu Top Area*/
  .mobile-menu-top {
    font-size: 13px;
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  
  .mobile-menu-user-menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    justify-content: center;
  }
  .mobile-menu-user-menu > li {
    margin-right: 40px;
    position: relative;
  }
  .mobile-menu-user-menu > li:last-child {
    margin-right: 0;
  }
  .mobile-menu-user-menu > li::after {
    position: absolute;
    content: "|";
    top: 50%;
    transform: translateY(-50%);
    right: calc(0% - 20px);
  }
  .mobile-menu-user-menu > li:last-child::after {
    display: none;
  }
  .mobile-menu-user-menu > li > a {
    display: inline-block;
    line-height: 46px;
    color: #666 !important;
  }
  .mobile-menu-user-menu > li > a:hover {
    color: #ea1c26;
  }
  
  .has-mobile-user-dropdown {
    position: relative;
    padding-right: 15px;
  }
  .has-mobile-user-dropdown::before {
    content: "";
    font-family: "FontAwesome";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-weight: 400;
  }
  
  .mobile-user-sub-menu {
    position: absolute;
    top: calc(100%);
    left: 50%;
    transform: translate(-50%, -30px);
    padding: 10px 15px;
    width: 160px;
    background: #FFF;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    transition: all 0.3s ease 0s;
    visibility: hidden;
    opacity: 0;
    z-index: 99;
  }
  .mobile-user-sub-menu > li {
    display: block;
    border-bottom: 1px solid #eee;
    padding: 5px 0;
  }
  .mobile-user-sub-menu > li:last-child {
    border-bottom: none;
  }
  .mobile-user-sub-menu > li > a {
    position: relative;
    color: #666;
    display: flex;
    align-items: center;
  }
  .mobile-user-sub-menu > li > a:hover {
    color: #ea1c26;
  }
  
  .user-sub-menu-link-icon {
    padding-right: 5px;
  }
  
  .has-mobile-user-dropdown:hover .mobile-user-sub-menu {
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, 0);
  }
  
  /*Mobile Menu Center Area*/
  .mobile-menu-customer-support {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Raleway", sans-serif;
  }
  
  .mobile-menu-customer-support-icon {
    max-width: 50px;
    overflow: hidden;
    margin-right: 30px;
  }
  
  .mobile-menu-customer-support-icon img {
    width: 100%;
  }
  
  .mobile-menu-customer-support-text-phone {
    display: block;
    font-size: 18px;
    font-weight: 700;
    color: #000;
    transition: all 0.3s ease 0s;
  }
  .mobile-menu-customer-support-text-phone:hover {
    color: #ea1c26;
  }
  
  .mobile-menu-customer-support-text {
    font-size: 14px;
    margin: 20px 0;
  }
  
  .mobile-action-icon {
    display: flex;
    justify-content: center;
  }
  
  .mobile-action-icon-item {
    margin-right: 40px;
  }
  .mobile-action-icon-item:last-child {
    margin-right: 0;
  }
  
  .mobile-action-icon-link {
    position: relative;
    font-size: 27px;
    color: #333;
    transition: all 0.3s ease 0s;
  }
  .mobile-action-icon-link:hover {
    color: #ea1c26;
  }
  
  .mobile-action-icon-item-count {
    position: absolute;
    top: 0;
    right: calc(0% - 10px);
    font-size: 11px;
    display: inline-block;
    background: #333;
    color: #FFF;
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    transition: all 0.3s ease 0s;
  }
  
  .mobile-action-icon-link:hover .mobile-action-icon-item-count {
    background: #ea1c26;
  }
  
  /*Mobile Menu Bottom Area*/
  .offcanvas-menu {
    margin: 20px 0;
  }
  
  .offcanvas-menu li {
    position: relative;
    padding: 5px 5px;
  }
  
  .offcanvas-menu > ul > li {
    border-bottom: 1px solid transparent;
  }
  
  .offcanvas-menu > ul > li:last-child {
    border-bottom: none;
  }
  
  .offcanvas-menu li a {
    display: block;
    color: #666;
    text-decoration: none;
  }
  
  .offcanvas-menu li a:hover {
    color: #ea1c26;
  }
  
  .offcanvas-menu li .mobile-sub-menu {
    display: none;
  }
  
  .offcanvas-menu-expand::after {
    content: "";
    position: absolute;
    font-family: "FontAwesome";
    right: 0;
    transition: all 0.3s ease;
    color: #666;
  }
  
  .offcanvas-menu .active > .offcanvas-menu-expand:last-child,
  .sub-menu > .active .offcanvas-menu-expand:last-child {
    border-bottom: none;
  }
  
  .offcanvas-menu .active > .offcanvas-menu-expand::after,
  .sub-menu > .active .offcanvas-menu-expand::after {
    color: #ea1c26;
    content: "";
  }
  
  .mobile-menu-email {
    color: #666;
    text-align: center;
    display: block;
  }
  .mobile-menu-email:hover {
    color: #ea1c26;
  }
  
  .mobile-menu-social {
    margin-top: 25px;
    text-align: center;
  }
  .mobile-menu-social > li {
    display: inline-block;
    margin-right: 13px;
  }
  .mobile-menu-social > li:last-child {
    margin-right: 0px;
  }
  .mobile-menu-social > li > a {
    display: inline-block;
    font-size: 14px;
    padding: 0;
    line-height: 30px;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    text-align: center;
    color: #FFF !important;
  }
  .mobile-menu-social > li > a:hover {
    opacity: 0.7;
  }
  .mobile-menu-social > li > a.facebook {
    background: #4867AA;
  }
  .mobile-menu-social > li > a.twitter {
    background: #1DA1F2;
  }
  .mobile-menu-social > li > a.youtube {
    background: #FE0000;
  }
  .mobile-menu-social > li > a.pinterest {
    background: #BD081B;
  }
  .mobile-menu-social > li > a.instagram {
    background: #B23A94;
  }
  
  .offcanvas-cart-item-single {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .offcanvas-cart-item-single:last-child {
    margin-bottom: 0;
  }
  
  .offcanvas-cart-item-block {
    display: flex;
    align-items: center;
  }
  
  .offcanvas-cart-item-image-link {
    width: 90px;
    overflow: hidden;
    border: 1px solid #eee;
    margin-right: 20px;
  }
  
  .offcanvas-cart-image {
    width: 100%;
  }
  
  .offcanvas-cart-item-link {
    display: block;
    font-weight: 700;
  }
  
  .offcanvas-cart-item-details {
    font-family: "Raleway", sans-serif;
  }
  
  .offcanvas-cart-total-price {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-family: "Raleway", sans-serif;
  }
  
  .offcanvas-cart-total-price-text {
    font-weight: 700;
  }
  
  .offcanvas-cart-action-button-list {
    margin-bottom: 25px;
    display: block;
  }
  
  .offcanvas-cart-action-button-link {
    display: block;
    background: #000;
    color: #FFF;
    padding: 10px 30px;
    text-align: center;
    font-weight: 600;
  }
  .offcanvas-cart-action-button-link:hover {
    background: #ea1c26;
    color: #FFF;
  }


/* ========== End Header Style ========== */

