/* ========== Start Header Style ========== */

.header-top {
    font-size: 13px
}

.header-user-menu {
    display: flex;
    align-items: center;
    justify-content: flex-end
}

.header-user-menu>li {
    margin-right: 40px;
    position: relative;
    list-style-type: none;
}

.header-user-menu>li:last-child {
    margin-right: 0
}

.header-user-menu>li::after {
    position: absolute;
    content: "|";
    top: 50%;
    transform: translateY(-50%);
    right: calc(0% - 20px)
}

.header-user-menu>li:last-child::after {
    display: none
}

.header-user-menu>li>a {
    display: inline-block;
    line-height: 46px
}

.has-user-dropdown {
    position: relative;
    padding-right: 15px
}

.has-user-dropdown::before {
    content: "\f13a";
    font-family: "FontAwesome";
    position: absolute;
    top: calc(50%);
    right: 0;
    transform: translateY(-50%);
    font-weight: 400
}

.has-user-dropdown:hover .user-sub-menu {
    visibility: visible;
    opacity: 1;
    transform: translateY(0)
}

.user-sub-menu {
    position: absolute;
    top: calc(100%);
    transform: translateY(30px);
    left: calc(0% - 20px);
    right: auto;
    padding: 10px 15px;
    width: 160px;
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    border-radius: 3px;
    transition: all .3s ease 0s;
    visibility: hidden;
    opacity: 0;
    z-index: 99
}

.user-sub-menu>li {
    display: block;
    border-bottom: 1px solid #eee;
    padding: 5px 0
}

.user-sub-menu>li:last-child {
    border-bottom: none
}

.user-sub-menu>li>a {
    position: relative;
    display: flex;
    align-items: center
}

.user-sub-menu>li>a:hover {
    color: #ea1c26
}

.user-sub-menu-in-icon {
    padding-right: 5px
}

/* ========== Search Bar Style ========== */

.default-search-style {
    position: relative
}

.default-search-style-input-box {
    padding: 10px 90px 10px 20px;
    border-radius: 5px;
    font-size: 13px;
    box-shadow: none;
    outline: 0
}

.default-search-style-input-btn {
    padding: 10px 25px;
    background-color: #ea1c26;
    border-radius: 0 5px 5px 0;
    font-weight: 600;
    color: #fff;
    transition: all .3s ease 0s;
    line-height: 1.6;
    position: absolute;
    top: 50%;
    right: 0;
    height: 100%;
    transform: translateY(-50%)
}

.default-search-style-input-btn:hover {
    border-color: #333;
    background: #333
}

.default-search-style-input-btn i {
    color: #fff;
    font-size: 18px
}


.header-action-icon {
    display: flex;
    justify-content: flex-end;
    margin-right: 15px
}

.header-action-icon>li {
    margin-right: 40px;
    list-style-type: none;
    
}

.header-action-icon>li:last-child {
    margin-right: 0
}

.header-action-icon>li>a {
    position: relative;
    font-size: 27px;
    color: #333
}

.header-action-icon>li>a:hover {
    color: #ea1c26
}

.header-action-icon>li>a:hover .header-action-icon-item-count {
    background: #ea1c26
}

.header-action-icon-item-count {
    position: absolute;
    top: 0;
    right: -8px;
    font-size: 10px;
    display: inline-block;
    background: #333;
    color: #fff;
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    transition: all .3s ease 0s
}
/* ========== End Header Style ========== */